body{
    background: #165858;
    color: #000;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h2{
    text-align: center;
}
#main_container{
    background: #E1EFD8;
    width: 98vw;
    height: auto;
    min-height: 85vh;
    margin-top: 5vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#nav_container{
    width: 100%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}
#nav_container ul{
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.pagina_atual {
    background: #165858;
    color: #fff;
    padding: 10px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: default;
    border: 2px solid #557575;
}
.outras_paginas {
    background: #E1EFD8;
    color: #165858;
    padding: 10px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: default;
    border: 2px solid #557575;
}
input {
    border: rgb(191, 188, 188) solid 1px;
    padding: 6px 5px;
}
.opcoes_container{
    padding-top: 3vh;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

/* home */
#btn_home_container{
    margin-top: 50vh;
}
/* home */


/* página processo */
.form_processo_container{
    height: 100%;
}
.btn_container{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
.btn{
    background: #165858;
    color: #fff;
    padding: 15px 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    border: none;
}
#opcoes_simulacao, #opcoes_parametros{
    list-style: none;
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}
#opcoes_parametros li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5px;
}
#opcoes_parametros li input {
    width: 60px;
}
/* página processo */

/*pagina trechos*/
table{
    background: #dfdfdf;
}
.input_tabela{
    border: none;
    background: none;
    width: 85px;
}
.input_tabela:focus{
    border: none;
    outline: none;
}
#salvar_tabela{
    background: #165858;
    color: #fff;
    padding: 15px 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin: 100px auto
}
/*pagina trechos*/


