@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    background: #165858;
    color: #000;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
h2{
    text-align: center;
}
#main_container{
    background: #E1EFD8;
    width: 98vw;
    height: auto;
    min-height: 85vh;
    margin-top: 5vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -1px -1px 20px #302f2f;
}
#nav_container{
    width: 100%;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}
#nav_container ul{
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.pagina_atual {
    background: #165858;
    color: #fff;
    padding: 10px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: default;
    border: 2px solid #557575;
}
.outras_paginas {
    background: #E1EFD8;
    color: #165858;
    padding: 10px 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: default;
    border: 2px solid #557575;
}
input {
    border: rgb(191, 188, 188) solid 1px;
    padding: 6px 5px;
}
.opcoes_container{
    padding-top: 3vh;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
#usuario_logout_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 5px 0px;
}
#btn_logout{
    margin-right: 10px;
    color: #E1EFD8;
    font-weight: bolder;
    font-size: 15px;
    background: #165858;
    border: none;
    cursor: pointer;
    transition: .4s;
    outline: none;
    padding: 5px;
}
#btn_logout:hover{
    background: #bd1414;
    color: #E1EFD8;
}

/* home */
#btn_home_container{
    margin-top: 50vh;
}
/* home */


/* página processo */
.form_processo_container{
    height: 100%;
}
.btn_container{
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
.btn{
    background: #165858;
    color: #fff;
    padding: 15px 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid #165858;
    transition: .4s;
}
.btn:hover{
    background: #E1EFD8;
    color: #165858;
    border-color: #165858;
}
#opcoes_simulacao, #opcoes_parametros{
    list-style: none;
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}
#opcoes_parametros li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5px;
}
#opcoes_parametros li input {
    width: 60px;
}
/* página processo */

/*pagina trechos*/
table{
    background: #dfdfdf;
}
#salvar_tabela{
    background: #165858;
    color: #fff;
    padding: 15px 25px;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin: 100px auto
}
#tabela_nivel_priorizacao{
    font-size: 10px;
}
#tabela_nivel_priorizacao th,
#tabela_nivel_priorizacao td {
  padding: 3px 0.75rem;
  vertical-align: top;
}
/*pagina trechos*/

/*pagina add tabela e autenticacao*/
.btn_add_tabela_container{
    display: flex;
    justify-content: center;
}
.btn_add_tabela{
    border-radius: 50%;
    padding: 8px 15px;
    font-weight: bolder;
    font-size: 22px;
    background:#262626;
    color: #dfdfdf;
    border: 2px solid #dfdfdf;
    cursor: pointer;
    transition: .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 14px;
}
.btn_add_tabela:hover{
    background:#dfdfdf;
    color: #262626;
    border-color:#a9a6a6;
}
.novo_item_tabela, .autenticacao_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: #272626;
}
.novo_item_tabela form, .autenticacao_container form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    height: 100%;
    margin: 10vh auto 0 auto;
    gap: 5px;
    background: #d1e7c3;
    border-radius: 5px;
    align-items: center;
    padding: 5vh 0;
}
.autenticacao_container h2{
    margin-top: 15vh;
}
.autenticacao_container form {
    width: 40%;
    height: 50vh;
    margin-top: 0;
}
.novo_item_tabela label, .autenticacao_container label{
    margin-top: 15px;
    font-weight: bold;
}
.novo_item_tabela div, .autenticacao_container div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.novo_item_tabela div input, .novo_item_tabela select,
.autenticacao_container div input{
    width: 30vw;
    padding: 10px 5px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    border: rgb(191, 188, 188) solid 1px;
}
.btn_novo_item_tabela{
    background: #165858;
    color: #d1e7c3;
    padding: 10px 15px;
    width: 30%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid #165858;
    transition: .4s;
    margin-top: 5vh;
    margin-left: 35%;
}
.btn_autenticacao {
    background: #165858;
    color: #d1e7c3;
    padding: 10px 15px;
    width: 40%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    border: 3px solid #165858;
    transition: .4s;
    margin-top: 5vh;
}
.btn_novo_item_tabela:hover{
    background: #d1e7c3;
    color: #165858;
    border-color: #165858;
}
.btn_autenticacao:hover{
    background: #d1e7c3;
    color: #165858;
    border-color: #165858;
}
/*pagina add tabela e autenticacao*/

/*excluir tabela*/
.excluir_tabela{
    color: #bd1414;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #dfdfdf;
    border-color: #dfdfdf;
    cursor: pointer;
    transition: .4s;
}
.excluir_tabela:hover{
    background: #bd1414;
    color: #dfdfdf;
}
table{
    border: none;
}
/*excluir tabela*/
