{% extends "template.html" %}
{% block conteudo %}

<div id="nav_container">
    <ul>
        <li class="outras_paginas">Processo</li>
        <li class="outras_paginas">Trechos</li>
        <li class="outras_paginas">Regras</li>
        <li class="pagina_atual">Excluir</li>
        <li class="outras_paginas">Consolidado</li>
    </ul>
</div>

<form action="excluir-salvar" method="post">
    <div class="opcoes_container">
        <div id="excluir_container">
            <h2>Exclusão</h2>
            <table class="table table-striped table-responsive table-bordered">
                <thead>
                    <tr>
                        {% for coluna in tabela_excluir.columns %}
                            <th>{{ coluna }}</th>
                        {% endfor %}
                        <th class="titulo_excluir_tabela"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for indice, linha in tabela_excluir.iterrows() %}
                        <tr>
                            {% for coluna in tabela_excluir.columns %}
                                <td>
                                    {{ linha[coluna] }}
                                </td>
                            {% endfor %}
                            <td class="excluir_tabela" id={{indice}}>X</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="btn_add_tabela_container">
                <div class="btn_add_tabela" onclick="addNovaExclusao()">+</div>
            </div>
        </div>
    </div>
    <div class="btn_container">
        <input type="submit" value="Próximo" class="btn">
    </div>
</form>

{% endblock %}