{% extends "template.html" %}
{% block conteudo %}

<div id="nav_container">
    <ul>
        <li class="outras_paginas">Processo</li>
        <li class="outras_paginas">Trechos</li>
        <li class="outras_paginas">Regras</li>
        <li class="pagina_atual">Excluir</li>
        <li class="outras_paginas">Consolidado</li>
    </ul>
</div>

<div class="opcoes_container">
    <div id="excluir_container">
        <h2>Priorização</h2>
        <form action="excluir-salvar" method="post">
            <table class="table table-striped table-responsive table-bordered">
                <thead>
                    <tr>
                        {% for coluna in tabela_excluir.columns %}
                            <th>{{ coluna }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for indice, linha in tabela_excluir.iterrows() %}
                        <tr>
                            {% for coluna in tabela_excluir.columns %}
                                {% if coluna == "Ordem" %}
                                <td>
                                    {{ linha[coluna] }}
                                </td>
                                {% else %}
                                <td>
                                    <input class="input_tabela" type="text" name="{{ coluna }}_{{ indice }}" value="{{ linha[coluna] }}">
                                </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="btn_container">
                <input type="submit" value="Próximo" class="btn">
            </div>
        </form>
    </div>
</div>

{% endblock %}