<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/table.css">
    <title>Balanceamento</title>
</head>
<body>
    <div id="main_container">
        {% if g.usuario %}
            <div id="usuario_logout_container">
                <div id="usuario_nome">Usuário: {{ g.usuario }}</div>
                <button id="btn_logout" onclick="logout()">Logout</button>
            </div>
        {% endif %}

        {%  block conteudo %}

        {% endblock %}

    </div>
</body>

<script>
    function addNovaPriorizacao() {
        window.location.href = "/nova-priorizacao"
    }
    function addNovaExclusao() {
        window.location.href = "/nova-exclusao"
    }
    function logout(){
        window.location.href = "/logout-usuario"
    }
</script>
<script src="../static/scripts/altera_parametro_priorizacao.js"></script>
<script src="../static/scripts/input_simulacao.js"></script>
<script src="../static/scripts/excluir_linha_tabela.js"></script>
</html>